@import url(http://fonts.googleapis.com/css?family=Kelly+Slab&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Comfortaa&subset=latin,cyrillic);

body {
    margin: 0;
    padding: 0;
    background: #e6e6e6 url('../img/light_wool.png') top repeat;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.body-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 1200px;
}

.left-menu {
    width: 24%;
    display: inline-block;
    min-height: 100%;
    height: 100%;
    background: #474747 url('../img/wild_oliva.png') top repeat;
    color: #ffffff;
    vertical-align: top;
}

.left-menu ::selection {
    background-color: #34c027!important;
    color: #ffffff;
}

.left-menu h1 {
    text-align: center;
    font-family: 'Kelly Slab', arial, helvetica, verdana, sans-serif;
    margin-top: 35px;
    font-size: 48px;
}

.left-menu h1 span {
    margin-left: 10px;
    color: #83f63d;
}

.left-menu h1 a {
    color: #FFFFFF;
}

.left-menu .nav {
    margin: 40px auto;
    text-align: center;
    display: block;
}

.left-menu .nav .item {
    font-size: 34px;
    display: block;
    color: #FFFFFF;
    padding: 20px 0;
    font-family: 'Kelly Slab', arial, helvetica, verdana, sans-serif;
}

.left-menu .nav .item:hover {
    color: #83f63d;
    background: rgba(0, 0, 0, 0.3);
}

.right-content {
    display: inline-block;
    width: 76%;
    vertical-align: top;
    color: #474747;
}

.right-content ::selection {
    background-color: #3180f6!important;
    color: #ffffff;
}

.right-content h1 {
    margin: 35px 0 35px 25px;
    font-family: Comfortaa, arial, helvetica, verdana, sans-serif;
    font-size: 49px;
}

.right-content h1 span {
    color: #3180f6;
}

.right-content h1 small {
    font-family: arial, helvetica, verdana, sans-serif;
    font-size: 14px;
    display: block;
    margin-top: 13px;
}

.right-content .left25 {
    margin-left: 25px;
}

.right-content .top25 {
    margin-top: 25px;
}

.right-content .right25 {
    margin-right: 25px;
}

.right-content textarea {
    width: 48%;
    display: inline-block;
    min-height: 350px;
}

.copyright {
    font-family: Comfortaa, arial, helvetica, verdana, sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    display: block;
    margin-top: 100px;
}